*{  margin: 0; padding: 0; box-sizing: border-box; }
body,

html{

     min-height: 100%;

         
}


body{

background-image: url("Images/page 03.jpg");
background-size:cover;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;


}


.main .header{

	background:linear-gradient(to right,white,#0a7004,#065202,#0c5707);
	position: absolute;
	/*top: -160px;*/
	top: 0px;
	width: 100%;
	height: 120px;
	border-bottom:2px white solid;

    	
}

.main .header .left .text1{

	text-align:left;
	position:relative;
	padding-top: 10px;


}

.main .header .left .text2{
	
	position:absolute;
	left:160px;
	top: 50px;	
	font-size: 50px;
	
}



.main .header .left .text3{
	
	position:absolute;
	left:180px;
	padding-top: 18px;
	
}

.main .header .left .logo{
    
    position: absolute;
    left: -10px;
    top: 5px;
    width: 150px;
}


.main .header .right .profile{


	position: absolute;
	right: 10px;
	top: 10px;
	width: 80px;
	transition: 1.25s;

}



@media screen and (max-width: 574px){


    .main .header .right .profile{


	position: absolute;
	right: 0rem;
	top: 30px;
	width: 60px;

}


}




.main .header .right .nav {

    position: absolute;
    top: 5.5rem;
    left: 21rem;
    display: flex;

  
}


.main .header .right .nav1 {

    position: absolute;
    top: 5.5rem;
    right: 0.65rem;
    display: flex;
  
}



.main .header .right .nav .nav_left ul{

    display: flex;
    list-style: none;

    
}


.main .header .right .nav .nav_left ul  a{

	text-decoration: none;
	color: white;
	padding: 22px;
	font-size: 1.20rem;
	font-family: arial;
	letter-spacing: 0.1rem;
	transition: 1.25s;
}



.main .header .right .nav .nav_left ul a:hover{color:greenyellow; }



.main .header .right .nav .nav_right ul,
.main .header .right .nav1 ul {

    display: flex;
    list-style: none;
    position: relative;
    top: -4px;

    
    
}


.main .header .right .nav .nav_right ul a, 
.main .header .right .nav1 ul a {

    text-decoration:none;
    color: white;
    transition: 1.25s;

    
}



.main .header .right .nav .nav_right ul a:hover{color: red;}

.main .header .right .nav1 ul a:hover{color: red;}




.main .header .right .nav .nav_right ul li:nth-child(1) a,
.main .header .right .nav1 ul li:nth-child(1) a {

    font-weight: 450;
    padding-left: 5rem;
    font-size: 25px;
    padding-right: 16px;
    float: right;




}


.main .header .right .nav .nav_right ul li:nth-child(2),
.main .header .right .nav1 ul li:nth-child(2) {

    
    font-weight: 850;
    font-size: 25px;
    color: white;
    float: right;

}


.main .header .right .nav .nav_right ul li:nth-child(3) a,
.main .header .right .nav1 ul li:nth-child(3) a {

    font-weight: 450;
    font-size: 25px;
    /*border-left: 2px solid rgba(255, 255, 255, 1.0);*/
    padding-left: 16px;
    float: right;
    


}



@media screen and (max-width: 1520px){

.main .header .right .nav .nav_right ul li:nth-child(1) a{

 padding-left: 2rem;
	

}


}


@media screen and (max-width: 1472px){

.main .header .right .nav .nav_left ul a{

	font-size: 1rem;
	position: relative;
	top: 3px;
}
   

}



@media screen and (max-width: 1382px){


   .main .header .right .nav {

   	    position: absolute;
   	    left: 18.5rem;
   }

}


@media screen and (max-width: 1340px){

.main .header .right .nav  {

	display: none;
	
}
   

}



@media screen and (max-width: 1540px){

.main .header .right .nav1  {

	display: none;
	
}
   

}


@media screen and (max-width: 1340px){

.main .header .right .nav1  {

	display: block;
	
}
   

}




@media screen and (max-width: 574px){

.main .header .right .nav1 ul li:nth-child(1) a,
.main .header .right .nav1 ul li:nth-child(2) ,
.main .header .right .nav1 ul li:nth-child(3) a  {

	font-size:18px;
	position: relative;
	top: 10px;

	
}
   

}




@media screen and (max-width: 1340px){


  .main .header .right .nav .nav_right ul li:nth-child(1) a{

   padding-left: 1rem;
	

}  


}






.sidenav  {
  
  position: absolute;
  z-index: 1;
  height: 498px;
  top: 7.5rem;
  left: 0rem;
  background-color: #0d1a40;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.7s;
  padding-top: 50px;
  border-bottom-right-radius:20px;
  
}

.sidenav a {
  padding: 8px 8px 35px 20px;
  text-decoration: none;
  font-size: 20px;
  color:#e8e8e8;
  display: block;
  transition: 1.10s;
  font-family: sans-serif;
 
}

.sidenav a:hover {
  color:Greenyellow;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
}


.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color:#0d1a40;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius:8px;
  position: absolute;
  top: 8.2rem;
  left: 0.5rem;
  transition: 0.5s;

}

.openbtn:hover {
  background-color:#444;
}


@media screen and (max-width: 1700px){

 
 .openbtn,
 .sidenav{

 	display: none;
 }  


}



@media screen and (max-width: 1340px){

 
 .openbtn,
 .sidenav {

 	display: block;
 }  


}






.search{


    position: absolute;
    right: 1rem;
    top: 7.5rem;
    display: flex;



}




.btn {

     width:1rem;
     padding-top: 5px;
    
    


}


#main_btn {

    border-radius: 50px;
    outline: none;
    background: rgba(229, 201, 255, 1.0);
    position:relative;
    top:1.3rem ;
    cursor: pointer;
    border: none;
    margin-left: 15px;
    width: 1.7rem;

}

#main_btn:hover{

    background-color: rgba(229, 201, 255, 0.5);
}


::placeholder{

    color:rgba(255, 255, 255, 0.7);
    padding-left: 2.5rem;

}


#input{
     
     color: white;
     padding-top: 0px;
     height: 1.75rem;
     position: relative;
     top: 1rem;
     width: 13.5rem;
     border: none;
     outline: none;
     border-radius: 60px 60px 60px 60px;
     background:rgba(201, 220, 255, 0.2);
     padding-left: 15px;
     padding-right: 15px;

}


#input:hover{

    background-color:rgba(201, 220, 255, 0.3);
}





.content .form{

	width: 46rem;
	height: 28rem;
	background: rgba(69, 243, 255, 0.3);
	border-radius: 15px;
	font-family: sans-serif;
	color: rgba(255, 255, 255, 0.7);
	border: 1px white solid;
	position: absolute;
	top: 9.2rem;
	left: 25rem;



}


.content .form .f_name{
    
    width: 100%;
    height: 15%;
    background: rgba(255, 255, 255, 0.3);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;

}



.content .form .process{
    
    width: 100%;
    height: 75%;
    background: transparent;
    border-radius: 0;
    padding: 15px 10px;
    display: flex;


}


.content .form .process .select p{

    padding-bottom: 2.8rem;
    padding-top: 4.8rem;
    font-weight: bold;

}



.content .form .process .select p select{

    background: rgba(196, 93, 2, 1);
    width: 10rem;
    height: 1.8rem;
    border-radius: 5px;
    border: 1px white solid;
    outline: none;
    cursor: pointer;

}




.content .form .process .msg{

    padding-left:10px;
    padding-top: 1.6rem;

}


.content .form .process .msg textarea{

    background: rgba(2, 12, 56, 1);
    border-radius: 10px;
    color: white;
    padding: 5px;
    border: 1px white solid;


}



.content .form .finish{
    
    width: 100%;
    height: 10%;
    background: transparent;
    border-radius: 0 0px 15px 15px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px;
    
}

.reset,
.submit{

	
	border: none;
	outline: none;
	background: black;
	color: white;
	padding: 5px;
	border-radius: 4px;
	width: 5rem;
	transition:1.10s;
	margin-left: 10px;
}


.submit:hover{

	color: blue;

}



.reset:hover{

	color: red;

}







.background {

	background-color: rgba(255, 255, 255, 0.2);
	width: 295px;
	height: 210px;
	position: absolute;
    left: 29.08%;
    top: 19%;
    border-radius: 1rem;
    

}




.main .footer .footer_up{

    
    background: white;
	position: absolute;
	top:618px;
	width: 100%;
	height: 201px;
	opacity: 0.6;
	


}


.main .footer .footer_up .mid .mail_icon{

	position: absolute;
	top:55px;
	left: 38%;
	width: 40px;
	opacity: 1;
	
}



@media screen and (max-width: 1072px){

.main .footer .footer_up .mid .mail_icon{

	position: absolute;
	top:55px;
	left: 32%;
	width: 40px;
	opacity: 1;
	
}
    


}



@media screen and (max-width: 1045px){

.main .footer .footer_up .mid .mail_icon{

	position: absolute;
	top:55px;
	left: 30%;
	width: 40px;
	opacity: 1;
	
}
    


}


@media screen and (max-width: 800px){

.main .footer .footer_up .mid .mail_icon{

	position: absolute;
	top:55px;
	left: 38%;
	width: 35px;
	opacity: 1;
	
}
    


}


@media screen and (max-width: 670px){

.main .footer .footer_up .mid .mail_icon{

	position: absolute;
	top:75px;
	left: 57%;
	width: 35px;
	opacity: 1;
	
}
    


}



@media screen and (max-width: 580px){

.main .footer .footer_up .mid .mail_icon{

	position: absolute;
	top:75px;
	left: 59%;
	width: 30px;
	opacity: 1;
	
}
    


}


@media screen and (max-width: 536px){

.main .footer .footer_up .mid .mail_icon{

	position: absolute;
	top:75px;
	left: 62%;
	width: 28px;
	opacity: 1;
	
}
    


}


.main .footer .footer_up .mid .mail{

	position: absolute;
	top:54px;
	left: 42%;
	width: 40px;
	font-size: 28px;
	font-family:  sans-serif;
	color: #ff7200;
	letter-spacing: 2px;
	opacity: 1;


}


@media screen and (max-width: 1072px){

.main .footer .footer_up .mid .mail{

	position: absolute;
	top:54px;
	left: 38%;
	width: 40px;
	font-size: 28px;
	font-family:  sans-serif;
	color: #ff7200;
	letter-spacing: 2px;
	opacity: 1;


}
    


}


@media screen and (max-width: 1045px){

.main .footer .footer_up .mid .mail{

	position: absolute;
	top:54px;
	left: 36%;
	width: 40px;
	font-size: 28px;
	font-family:  sans-serif;
	color: #ff7200;
	letter-spacing: 2px;
	opacity: 1;


}
    


}


@media screen and (max-width: 800px){

.main .footer .footer_up .mid .mail{

	position: absolute;
	top:54px;
	left: 45%;
	width: 40px;
	font-size: 25px;
	font-family:  sans-serif;
	color: #ff7200;
	letter-spacing: 2px;
	opacity: 1;


}
    


}


@media screen and (max-width: 670px){

.main .footer .footer_up .mid .mail{

	position: absolute;
	top:43px;
	left: 42%;
	width: 40px;
	font-size: 22px;
	font-family:  sans-serif;
	color: #ff7200;
	letter-spacing: 2px;
	opacity: 1;


}
    


}


@media screen and (max-width: 580px){

.main .footer .footer_up .mid .mail{

	position: absolute;
	top:45px;
	left: 44%;
	width: 40px;
	font-size: 18px;
	font-family:  sans-serif;
	color: #ff7200;
	letter-spacing: 2px;
	opacity: 1;


}
    


}



@media screen and (max-width: 536px){

.main .footer .footer_up .mid .mail{

	position: absolute;
	top:48px;
	left: 50%;
	width: 40px;
	font-size: 14px;
	font-family:  sans-serif;
	color: #ff7200;
	letter-spacing: 2px;
	opacity: 1;


}
    


}


.main .footer .footer_up .right .lc{

    position: absolute;
	top: 10px;
	left: 10px;
	width: 30px;


}


@media screen and (max-width: 536px){


  .main .footer .footer_up .right .lc{

    position: absolute;
	top: 12px;
	left: 5px;
	width: 26px;


}  


}


.main .footer .footer_up .right .info1{

    position: absolute;
	top: 15px;
	left: 50px;


}


@media screen and (max-width: 536px){

    
    .main .footer .footer_up .right .info1{

    position: absolute;
	top: 15px;
	left: 44px;
	font-size: 15px;


}

}


.main .footer .footer_up .right .info2{

    position: absolute;
	top: 45px;
	left: 50px;


}


@media screen and (max-width: 536px){

    
    .main .footer .footer_up .right .info2{

    position: absolute;
	top: 45px;
	left: 44px;
	font-size: 15px;



}


}


.main .footer .footer_up .right .info3{

    position: absolute;
	top: 90px;
	left: 50px;


}


@media screen and (max-width: 536px){

    
    .main .footer .footer_up .right .info3{

    position: absolute;
	top: 90px;
	left: 44px;
	font-size: 15px;



}


}


.main .feed{


    position: absolute;
    left: 50px;
    top: 48rem;
    cursor: pointer;
    letter-spacing: 0.1rem;
    color: rgba(29, 7, 173, 1);   
    font-size: 18px;



}


@media screen and (max-width: 536px){


  .main .feed{


    position: absolute;
    left: 44px;
    top: 48rem;
    cursor: pointer;
    letter-spacing: 0.1rem;
    color: rgba(29, 7, 173, 1);   
    font-size: 18px;



}   



}



/*.main .footer .footer_up .text1{

     position:absolute;
     top: 0px;
     left: 100px;

   
}*/


.main .footer .footer_down{

    
    background:#570101;
	position: absolute;
	top:820px;
	width: 100%;
	height: 62px;
	opacity: 1;


}


.main .footer .footer_down .left .tag_icon{

width: 33px;
position: absolute;
top: 15px;
left: 1rem;

}


@media screen and (max-width: 1078px){


.main .footer .footer_down .left .tag_icon{

width: 25px;
position: absolute;
top: 20px;
left: 1rem;

}



}



.main .footer .footer_down .left h3{

display: flex;
flex-wrap: wrap;
color: #c8a107;
letter-spacing: 0.1rem;
position: absolute;
top: 23px;
left: 3.5rem;
font-family:  sans-serif;
font-size: 13px;


}


@media screen and (max-width: 1078px){


.main .footer .footer_down .left h3{

display: flex;
flex-wrap: wrap;
color: #c8a107;
letter-spacing: 0.1rem;
position: absolute;
top: 28px;
left: 3.5rem;
font-family:  sans-serif;
font-size: 10px;


}



}



@media screen and (max-width: 1010px){


.main .footer .footer_down .left h3{

display: flex;
flex-wrap: wrap;
color: #c8a107;
letter-spacing: 0.1rem;
position: absolute;
top: 28px;
left: 3.5rem;
font-family:  sans-serif;
font-size: 10px;
opacity: 0;


}



}



.main .footer .footer_down .right .fb{

	position: absolute;
	top: 10px;
	right: 270px;
	width: 45px;

}



.main .footer .footer_down .right .insta{

	position: absolute;
	top: 15px;
	right: 212px;
	width: 35px;

}


.main .footer .footer_down .right .youtube{

	position: absolute;
	top: 8px;
	right: 140px;
	width: 50px;

}


.main .footer .footer_down .right .twiter{

	position: absolute;
	top: 15px;
	right: 75px;
	width: 36px;

}


.main .footer .footer_down .right .gle{

	position: absolute;
	top: 12px;
	right: 10px;
	width: 38px;

}



.main .footer .footer_down .text1{


   position: absolute;
   top: 22px;
   left: 38%;
   color: gray;
   font-size: 15px;
   opacity: 1;

}

@media screen and (max-width: 1180px){

   
    .main .footer .footer_down .text1{
    

    position: absolute;
    left: 28%;


   }



}


@media screen and (max-width: 1010px){

   
    .main .footer .footer_down .text1{
    
    
    position: absolute;
    left: 15%;
    

   }



}


@media screen and (max-width: 865px){

   
    .main .footer .footer_down .text1{
    
    
    position: absolute;
    left: 27%;
    top: 10px;
    /*font-size: 10px;*/
    

   }



}



@media screen and (max-width: 590px){

   
    .main .footer .footer_down .text1{
    
    
    position: absolute;
    left: 24%;
    top: 10px;
    font-size: 10px;
    

   }



}


@media screen and (max-width: 865px){

   
    .main .footer .footer_down .right .fb{
    
    
    position:absolute;
    left:35%;
    top: 28px;
    width: 32px;
    

   }



}



@media screen and (max-width: 865px){

   
    .main .footer .footer_down .right .insta{
    
    
    position:absolute;
    left:42%;
    top: 30px;
    width: 28px;
    

   }



}



@media screen and (max-width: 865px){

   
    .main .footer .footer_down .right .youtube{
    
    
    position:absolute;
    left:48%;
    top: 26px;
    width: 38px;
    

   }



}


@media screen and (max-width: 865px){

   
    .main .footer .footer_down .right .twiter{
    
    
    position:absolute;
    left:56%;
    top: 30px;
    width: 28px;
    

   }



}



@media screen and (max-width: 865px){

   
    .main .footer .footer_down .right .gle{
    
    
    position:absolute;
    left:63%;
    top: 30px;
    width: 28px;
    
    
   }


}





.container{

  /*color: yellow; ----for whole font color*/
  background-color: rgba(235, 9, 118, 1);
  width: 280px;
  height: 194px;
  border-radius: 1rem;
  /*border: 1rem rgba(255, 255, 255, 1.0) solid;*/
  position: absolute;
  right: 5px;
  top: 623px;
  

}


.container .days .today{

	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;

}



@media screen and (max-width: 958px){


  .container{

  /*color: yellow; ----for whole font color*/
  background-color: rgba(235, 9, 118, 1.0);
  width: 276px;
  
  height: 190px;
  border-radius: 1rem;
  /*border: 1rem rgba(255, 255, 255, 1.0) solid;*/
  position: absolute;
  right: 5px;
  top: 623px;
  z-index: 2;
  opacity: 0;
  

}



}


.cal{

    
    position: absolute;
    top: 660px;
    right: 5px;
    width: 50px;
    border-radius: 8px;
    opacity: 0;
    z-index: 3;

}


@media screen and (max-width: 950px){


    .cal{

    
    position: absolute;
    top: 660px;
    right: 6rem;
    width: 50px;
    border-radius: 8px;
    opacity: 1;
    z-index: 3;

}




}



@media screen and (max-width: 800px){


    .cal{

    
    position: absolute;
    top: 660px;
    right: 4rem;
    width: 50px;
    border-radius: 8px;
    opacity: 1;
    z-index: 3;

}




}



@media screen and (max-width: 745px){


    .cal{

    
    position: absolute;
    top: 660px;
    right: 2rem;
    width: 50px;
    border-radius: 8px;
    opacity: 1;
    z-index: 3;

}




}



@media screen and (max-width: 745px){


    .cal{

    
    position: absolute;
    top: 660px;
    right: 1rem;
    width: 50px;
    border-radius: 8px;
    opacity: 1;
    z-index: 3;

}




}



@media screen and (max-width: 536px){


    .cal{

    
    position: absolute;
    top: 680px;
    right: 5px;
    width: 40px;
    border-radius: 8px;
    opacity: 1;
    z-index: 3;

}




}



.container .month{

	width: 100%;
	height: 3rem;
	background-color:black ;
	/*border-radius:1rem;*/
	border-top-left-radius: 0.8rem;
	border-top-right-radius: 0.8rem;
    display: flex;
    justify-content: space-evenly;
	color: rgba(255, 255, 255, 1);
	/*font-family: 'Quicksand', sans-serif;*/
	font-family: 'Nunito', sans-serif;	
	align-items:center;
	text-align: center;   
    
    


}


.container .month  h3{

    font-size: 1.40rem;
    padding-top: 0.05rem;
    /*padding-bottom: 0rem;*/
    font-weight: 550;
    letter-spacing: 0.18rem;
    text-align:center;
    text-shadow: 0.11rem 0.1rem rgba(255, 255, 255, 0.6);
    /*color: red;*/


}



.container .month .date {

	width: 100%;
	height: 3rem;
	background-color:black ;
	/*border-radius:1rem;*/
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;    
    justify-content: center;
	color: rgba(255, 255, 255, 1);
	align-items:center;
	text-align: center;   
    /*text-shadow: 0.11rem 0.1rem rgba(255, 255, 255, 0.6);*/
    

}

.container .month  p{

    font-size: 10px;
    padding-top: 1px;


}


.container .month .prev{

	cursor: pointer;
	padding: 10px;
	text-shadow: none;
}


.container .month .next{

	cursor: pointer;
    padding: 10px;
    text-shadow: none;

}



.container .wk_days{

    
    color: white;
    display: flex;
    letter-spacing: 0.1rem;
    align-items: center;
    width: 100%;
    height: 1.4rem;
    text-align: center;
    padding: 0.12rem;

    
    

}


.container .wk_days div{

    font-size: 0.9rem;
    width: calc(280px/7);
    display: flex;
    justify-content: center;
    align-items: center;



}


.container .days{

   
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.12rem;
    


}


.container .days div{

    
    font-size: 1rem;
    width: calc(273.5px/7);
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01rem;
    padding-bottom: 0.1rem;


}


.container .days .prev-date {

    color:black;
    opacity: 0.3;


}



.container .days .next-date {

    color: black;
    opacity: 0.3;


}
